.song-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.song-block {
    display: flex;
    justify-content: row;
    width: 22%;
    margin: 10px;
    flex-direction: column;
}

.bg-image {
    background-image: url('https://thumbs2.imgbox.com/53/a3/6llCKSpi_t.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }